* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}
/*Header*/
    :root {
        --bar-width: 35px;
        --bar-height: 4px;
        --hamburger-gap: 5px;
        --foreground: #daa520;
        --background: #fff;
        --animation-timig: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)* 2);
    }
/*Header*/
